@use "reset";

h1 {
  font-size: 55px;
  margin-bottom: 20px;
}

h2 {
  font-size: 40px;
  margin-bottom: 20px;
  color: red;
}

.app {
  &__main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // IMPORTANT
  &.mobile {
    height: calc(var(--vh, 1vh) * 100);

    @media (max-width: 772px) {
      transition: height 0.2s;
    }
  }
}
